* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

nav {
    width: 100%;
    border: solid 1px black;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

nav #barraDePesquisa {
    width: 718px;
    height: 23px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1px #7A7A7A;

}

nav #barraDePesquisa p {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;

}

nav #barraDePesquisa #lupa {
    width: 18px;
    height: 18px;
}

nav #usuario img {
    width: 18px;
    height: 18px;
}

nav #usuario p {
    font-family: 'Nunito';
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #7A7A7A;
}

nav #carrinhoDeCompra {
    display: flex;
    flex-direction: row;

}

nav #carrinhoDeCompra img {
    width: 18px;
    height: 18px;
    margin-right: 3px;

}

nav #carrinhoDeCompra p {

    width: 14px;
    height: 14px;
    border-radius: 50px;
    text-align: center;
    background-color: #F8475F;
    font-family: 'Nunito';

    font-weight: 700;
    font-size: 10px;
    line-height: 14px;
    color: #FFFFFF;
}

/* banner */
/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;

}

 .mySlides {
    display: none

} 

/* The dots/bullets/indicators */
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}